<!DOCTYPE html>
<html>
<head>
  <title>KebabRemoteApi</title>
  <%= stylesheet_link_tag    "kebab_remote_api/application", media: "all" %>
  <%= javascript_include_tag "kebab_remote_api/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
